
#main-block{
    background-color: #4FCE5D;
    margin-bottom: 0;
}

.text{
    color:#FFFFFF;
}

.button{
    background-color: #435A64;
    color: #FFFFFF;
}

.footer{
    background-color: #435A64;
    color: #FFFFFF;
    height: auto;
    text-align: center;
}

.footer a{
    color: yellow;
}