
#main-block{
    background-color: #435A64;
    margin-bottom: 0;
    border-radius: 0;
}

.text{
    color:#FFFFFF;
}

.button{
    background-color: #4FCE5D;
    color: #FFFFFF;
}

.footer{
    background-color: #435A64;
    color: #FFFFFF;
    height: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer a{
    color: yellow;
}

/* #4FCE5D */